*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
html, body{
    height: 100%;
    width:100%;
    background-color: black;
}
.parent{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;        
    gap: 30px;
}
.card{
    height: 370px;
    width: 280px;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top img{
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
    padding: 4px;
    object-fit: contain;
}
.top button{
    align-items: center;
    display: flex;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    gap: 2px;
    padding: 2px 5px;
    margin-bottom: 8px;
}
.bottom{
    border-top: 1px solid rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.bottom h3{
    font-size: 17px;
}
.bottom p{
    font-size: 11px;
    color: rgb(180, 180, 180);
}
.bottom button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.center h3{
    font-size: 18px;
    font-weight: 500;
}
.center span{
    font-size: 10px;
    font-weight: 500;
    color: rgb(180, 180, 180);
}
.center h2{
    font-size: 20px;
}
.center .tags{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.center .tags h4{
    font-size: 11px;
    background-color: rgb(225, 225, 225);
    color: rgb(77, 77, 77);
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}
.center{
    margin-bottom: 70px;
}